
/Oem/SWIGEx/Release
/Oem/SWIGEx/Win32
/Oem/SWIGEx/SwigEx.sdf
/Oem/SWIGEx/SwigEx.v11.suo
/Oem/IMake/Release
/Oem/IMake/Win32
/Oem/IMake/IMake.sdf
/Oem/IMake/IMake.v11.suo
/MgNodeJsApi/extension/MgApi_wrap.cpp
/MgNodeJsApi/node-extension.v11.suo
/MgNodeJsApi/node-extension.opensdf
/MgNodeJsApi/node-extension.sdf
/MgNodeJsApi/extension/Release